<footer>
  <div class="f-info">
    <!-- Social media Icons -->
    <div class="f-info-socials">
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
      <i class="fa-brands fa-square-facebook"></i>
    </div>
    <!-- Copy Right -->
    <div class="f-info-brand">&copy;WanderLust Private Limited</div>
    <!-- Links -->
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
