body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* Navbar */
.navbar {
  height: 5rem;
  background-color: #fcfdff;
}

.fa-earth-americas {
  color: #ff385c;
  font-size: 3rem;
}

.navbar-brand {
  font-family: "Poetsen One", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.nav-link {
  color: #222222 !important;
  position: relative;
}

#navbarNavAltMarkup {
  background-color: #fcfdff;
  padding: 0 1rem !important;
  margin: 0 0 !important;
  line-height: 2.5rem !important;
}

.container-fluid {
  padding: 0 0.5rem !important;
}

.navbar-main {
  margin-top: 1rem !important;
}

.search-box {
  background-color: transparent !important;
  padding: 0 0 !important;
  height: 3rem;
}

#btn-search {
  background-color: #ff385c !important;
  color: white !important;
  border: none !important;
  border-radius: 2rem !important;
  padding: 0.4rem 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn-search i {
  margin-right: 0.5rem;
}

#search-input input {
  border-radius: 2rem !important;
  padding: 0 3rem;
  margin-right: 1rem;
  text-align: center;
}

.btn-add-listing {
  text-align: center;
  border-radius: 1rem;
  margin-right: 10px;
}

.btn-add-listing:hover {
  box-shadow: 2px 2px 5px rgb(149, 148, 148) inset;
}

.nav-link:hover {
  color: #ff385c !important;
}

/* Filters */
.filters {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Tax Switch */
.tax-info {
  display: none;
}

.tax-switch {
  border-radius: 10px;
  text-align: center;
  padding: 1.8rem 1rem;
  height: 3.5rem;
  width: 25vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.tax-switch label {
  font-size: 0.9rem;
  font-weight: bold;
}

/* Footer */
.f-info-links a {
  text-decoration: none;
  color: #222222;
  margin: 0 5px 0 5px;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info {
  display: flex;
  height: 8rem;
  background-color: #ebebeb;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 1.1rem;
  cursor: pointer;
}

/* Cards */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text {
  font-weight: 400 !important;
}

.listing-links {
  text-decoration: none;
}

/* Overlay Effect */
.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.18);
  font-weight: bold;
}

/* New Page */
.btn-add {
  background-color: #ff385c !important;
  color: white !important;
  border: none !important;
}

/* Edit Page */
.btn-edit {
  background-color: #ff385c !important;
  color: white !important;
  border: none !important;
}

/*  Show page Btn */
.btn {
  margin-right: 1rem;
}

.btns {
  display: flex;
  align-items: center;
}

/* Show page image */
.show-img {
  height: 20rem;
}

/* Review */
#review {
  background-color: red;
}

/* Review cards */
.review-card {
  margin: 1.8rem;
}

/* Map */
#map {
  height: 400px;
}

@media (max-width: 1000px) {
  #navbarNavAltMarkup input {
    padding: 0.5rem 1rem;
    font-size: 13px;
  }
  #navbarNavAltMarkup #btn-search {
    padding: 0.5rem;
    font-size: 13px;
  }
  #navbarNavAltMarkup .nav-link {
    font-size: 15px;
  }
  #navbarNavAltMarkup .btn-add-listing {
    font-size: 13px;
  }
}

@media (max-width: 450px) {
  #navbarNavAltMarkup input {
    padding: 0.4rem 1rem;
    font-size: 15px;
  }

  #navbarNavAltMarkup #btn-search {
    padding: 0.4rem;
    font-size: 15px;
  }

  #navbarNavAltMarkup .search-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #navbarNavAltMarkup .nav-link {
    line-height: 1.7rem;
    font-size: 20px;
    text-align: center;
  }

  #navbarNavAltMarkup .btn-add-listing {
    font-size: 17px;
    border: 1px solid black;
  }

  #btn-search {
    padding: 0.5rem;
  }

  .btn-add-listing {
    padding: 0;
    margin: 20px 100px;
    border: none !important; 
    box-shadow: 2px 2px 5px rgb(78, 77, 77);
  }

  .tax-switch {
    width: 100%;
    font-size: 20px;
  }

  .alert-success {
    width: 80%;
  }

  .alert-danger {
    width: 80%;
  }

  svg {
    height: 50px;
    width: 50px;
  }

  .alert h4 {
    font-size: 15px;
  }

  .filters {
    margin: 0;
    padding: 0;
    display: block;
  }

  .filter p {
    font-size: 0.75rem;
  }

  .tax-switch {
    padding: 0;
  }
}

@media (max-width: 680px) {
  .tax-switch {
    width: 30%;
    justify-content: center;
  }
}

.add {
  color: white;
  background-color: #ff385c;
  border: none;
  border-radius: 1rem;
}

