body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/* Navbar */
.navbar {
    height: 5rem;
    background-color: #fcfdff;
}

.fa-earth-americas {
    color: #ff385c;
    font-size: 3rem;
}

.navbar-brand {
    font-family: "Poetsen One", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.nav-link {
    color: #222222 !important;
    position: relative;
}

#navbarNavAltMarkup {
    background-color: #fcfdff;
    padding: 0 1rem !important;
    margin: 0 0 !important;
    line-height: 2.5rem !important;
}

.container-fluid {
    padding: 0 0.5rem !important;
}

.navbar-main {
    margin-top: 1rem !important;
}

.search-box {
    background-color: transparent !important;
    padding: 0 0 !important;
    height: 3rem;
}

#btn-search {
    background-color: #ff385c !important;
    color: white !important;
    border: none !important;
    border-radius: 2rem !important;
    padding: 0.4rem 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-search i {
    margin-right: 0.5rem;
}

#search-input input {
    border-radius: 2rem !important;
    padding: 0 3rem;
    margin-right: 1rem;
    text-align: center;
    /* box-shadow: 1px 1px 10px gray; */
}

.btn-add-listing {
    text-align: center;
    border-radius: 1rem;
    margin-right: 10px;
}

.btn-add-listing:hover {
    box-shadow: 2px 2px 5px rgb(149, 148, 148) inset;
    /* font-weight: bold; */
}

.nav-link:hover {
    color: #ff385c !important;
}

/* Filters */
.filters {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: -2rem; */
}

.wrapper {
    padding: 1rem 1rem;
    position: relative;
    overflow-x: hidden;
    max-width: 10000px;
    border-radius: 13px;
}

.wrapper .icons {
    position: absolute;
    top: 0;
    height: 100%;
    width: 120px;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.tabs-box {
    padding: 0;
    margin: 0;
}
.icons:first-child {
    left: 0;
    display: none;
    background: linear-gradient(90deg, #fff 30%, transparent);
}

.icons:last-child {
    right: 0;
    justify-content: flex-end;
    background: linear-gradient(-90deg, #fff 30%, transparent);
}

.icons i {
    width: 55px;
    height: 55px;
    cursor: pointer;
    text-align: center;
    line-height: 55px;
    border-radius: 50%;
    background: #d5d5d5;
}

.icons i:hover {
    background-color: #e4e4e4;
}

icons:first-child i {
    margin-left: 35px;
}

icons:last-child i {
    margin-right: 35px;
}

.wrapper .tabs-box {
    display: flex;
    gap: 12px;
    list-style: none;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.tabs-box.dradding {
    scroll-behavior: auto;
    cursor: grab;
}

.tabs-box .tab {
    opacity: 0.9;
    cursor: pointer;
    font-size: 1.18rem;
    white-space: nowrap;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

.tabs-box.dradding .tab {
    user-select: none;
    pointer-events: none;
}

.tabs-box .tab.active {
    color: white;
    background-color: #5372f0;
    border-color: transparent;
    opacity: 1;
}

.filter i, p {
    font-size: 15px;
}

#left:hover {
    background-color: black;
    color: white;
}

#right:hover {
    background-color: black;
    color: white;
}

/* Tax Switch */
.tax-switch {
    border-radius: 10px;
    text-align: center;
    padding: 1.8rem 1rem;
    height: 3.5rem;
    width: 25vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.tax-switch label {
    font-size: 0.9rem;
    font-weight: bold;
}



/* Footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
    margin: 0 5px 0 5px;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info {
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1.1rem;
    cursor: pointer;
}

/* Cards */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-weight: 400 !important;
}

.listing-links {
    text-decoration: none;
}

/* Overlay Effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.18);
    font-weight: bold;
}

/* New Page */
.btn-add {
    background-color: #ff385c !important;
    color: white !important;
    border: none !important;
}

/* Edit Page */
.btn-edit {
    background-color: #ff385c !important;
    color: white !important;
    border: none !important;
}

/*  Show page Btn */
.btn {
    margin-right: 1rem;
}

.btns {
    display: flex;
    align-items: center;
}

/* Show page image */
.show-img {
    height: 20rem;
}

/* .show-img:hover {
    filter: drop-shadow(1px 1px 3px);
} */

/* Review */
#review {
    background-color: red;
}

/* Review cards */
.review-card {
    margin: 1.8rem;
}

/* Map */
#map {
    height: 400px;
    /* width: 58vh; */
}

@media (max-width: 450px) {

    #btn-search {
        padding: 0.5rem;
    }

    .btn-add-listing {
        padding: 0;
        margin: 20px 40px;
    }

    .tax-switch {
        width: 100%;
        font-size: 20px;
    }

    .alert-success {
        width: 80%;
    }

    .alert-danger {
        width: 80%;
    }

    svg {
        height: 50px;
        width: 50px;
    }

    .alert h4 {
        font-size: 15px;
    }

    .filters {
        margin: 0;
        padding: 0;
        display: block;
        /* margin-top: -10px; */
    }

    #left {
        display: none;
        /* margin-left: -20px; */

    }

    .rightIcon {
        display: none;
        position: absolute;
        left: -500px;
    }

    .wrapper .tabs-box {
        overflow-x: scroll;
        padding: 10px 5px;
    }

    .filter p {
        font-size: 0.75rem;
    }

    .tabs-box .tab {
        border: none;
        background-color: white;
        white-space: nowrap;
    }

    .tabs-box .tab.active {
        color: rgb(255, 255, 255);
        background-color: #0f99fb;
        border-color: transparent;
    }

    .rightIcon {
        background-color: red;
    }

    .tax-switch {
        /* margin-top: -10px; */
        padding: 0;
    }
}

@media (max-width: 1000px) {
    .tax-switch {
        width: 100%;
        justify-content: center;
    }
}