<% layout("layouts/boilerplate") %>
<body>
  <div class="row mb-3">
    <div class="col-6 offset-3">
      <h2 class="mb-4 mt-3">Login</h2>
      <form action="/login" method="POST" class="needs-validation mb-3" novalidate>
        <div class="mb-3">
          <label for="username" class="form-lable">Username</label>
          <input
            name="username"
            id="username"
            type="text"
            placeholder="Enter Username"
            class="form-control"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-lable">Password</label>
          <input
            name="password"
            id="password"
            type="password"
            placeholder="Enter password"
            class="form-control"
            required
          />
        </div>
        <button class="btn btn-success">Login</button>
      </form>
      <p>Don't have account &nbsp;<a href="/signup">SignUp</a></p>
    </div>
  </div>
</body>
