<% layout("layouts/boilerplate") %>
<body>
  <div class="row mb-3">
    <div class="col-6 offset-3">
      <h2 class="mb-4 mt-3">SignUp</h2>
      <form action="/signup" method="POST" class="needs-validation mb-3" novalidate>
        <div class="mb-3">
          <label for="username" class="form-lable">Username</label>
          <input
            name="username"
            id="username"
            type="text"
            placeholder="Enter Username"
            class="form-control"
            required
          />
          <div class="valid-feedback">Looks good.</div>
          <div class="invalid-feedback">Please provide a valid Username.</div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-lable">Email</label>
          <input
            name="email"
            id="email"
            type="email"
            placeholder="Enter email"
            class="form-control"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-lable">Password</label>
          <input
            name="password"
            id="password"
            type="password"
            placeholder="Enter password"
            class="form-control"
            required
          />
        </div>
        <button class="btn btn-success">SignUp</button>
      </form>
      <p>Already register &nbsp;<a href="/login">Login</a></p>
    </div>
  </div>
</body>
